<h1>This is firstpage within state management.</h1>
<a href="/statemanagement/secondpage?name=badal&age=21"> Go to Second Page</a>

<form action="/statemanagement/secondpage" method="POST">
    <input name="id" type="hidden" value="3242" />
    <input type="submit" value="Submit Form">
</form>

@ViewData["x"]
@ViewBag.Y