@model List<Department>
  
<h2>Departments</h2>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">DepartmentName</th>
      <th scope="col">NumberOfEmployee</th>
      <th scope="col">Salary</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var department in Model)
    {    
    <tr>
        <th scope="row">@department.Id</th>
        <td>
          <a href="/department/detail">@department.DepartmentName</a>
        <td>@department.NumberOfEmployee</td>
        <td>@department.Salary</td>
    </tr>
    }
  </tbody>
</table>